{% extends 'base.html' %}

{% block title %}
  {{block.super}}
{% endblock %}

{% block page %}
<div class="container">
  <div class="row">
    <div class="col-3 offset-md-2">
      <h1>Page</h1>
      <hr>
    </div>
  </div>
</div>

{% for i in keys %}
  {{i}}
{% endfor %}

<div class="mt-5 mb-5 container">
  <div class="row">
    <div class="col-6 offset-md-2">

      <form method = "POST">
        {% csrf_token %}
        <h2>Write us</h2>
        <hr align="left" style = "width:40%">
        {{form.as_p}}
        <button type="submit" class="mt-3 btn btn-primary">Send</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
