{% extends 'base.html' %}

{% block title %}
  {{tag.title}} - {{block.super}}
{% endblock %}

{% block content %}
  <h1>Posts with «{{tag.title}}» tag:</h1>
  <hr class="mb-5">
  {% for post in page_obj %}
    <div class="card-footer text-muted">
      {{post.date_pub}}
    </div>
    <div class="card mb-5 style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          {% if post.image %}
            <img src="{{post.image.url}}" class="card-img" style="height: 170px; width:170px">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body | truncatewords:10}}</p>
            <a href="{{post.get_absolute_url}}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
